/* Couleur de fond */

body{
	background-color: #faf9e5;
} 

/* Header */
header{
	background-image: url('image/bouge-pas/banniere.png');
	width: 99vw;
	height: 85vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-color:#8F736E; 
	position: relative;	
	font-family:'Indie Flower', cursive;
	color: #FFFFFF;
}

header h1{
	font-size: 50px;
}

h1{
	position: absolute;
	bottom: 7.5%;
	left: 50%;
	transform: translate(-50%, 50%);
}

/* Menu Mobile */

.collapse{
  transition: none;
}

/* Dropdown Button */
.dropbtn {
  background-color:#86AAC4 ;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #86AAC4;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* Navigation */

nav ul {
    display: flex;
    justify-content: space-around;
	margin: 30px 0;
}

nav .btn{
	background-color: #86AAC4;
	font-family:'Lato', sans-serif;
	color: white;
}

nav ul li {
    width: 100%;
	padding: 5px 50px;
}

/* 1er partie */

.titre h2{
	text-align: center;
	font-family:'Indie Flower', cursive;
	font-size: 60px;
	padding-top: 50px;
}

.container.cercle{
	margin-bottom: 50px;
	padding-top: 50px;
}

.cercle1 { 
	height: 20px; 
	width: 20px; 
	background-color: #F0883E;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 50%; 
	background-repeat: repeat-x;
} 

.cercle2{
	height: 20px; 
	width: 20px; 
	background-color:#86AAC4 ;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 50%; 
	background-repeat: repeat-x;
}

.cercle3{
	height: 20px; 
	width: 20px; 
	background-color:#8F736E ;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 50%; 
	background-repeat: repeat-x;
}

/* Equipe de la librairie */

.container.equipe{
	margin-right: auto;
	margin-left: auto;
	padding-top: 100px;
	padding-bottom: 70px;
}

.sunny {
	position: relative;
} 

.ecureuil {
	position: absolute;
	left: 200px;
	padding-top: 150px;
}

.cassandra{
	position: relative;
}

.hibou #hibou{
	position: absolute;
	right: 235px;
	bottom : -400px;
}

/* Séparation 2 */

.container.cercle{
	margin-top: 150px;
	margin-bottom: 50px;
}

.cercle4 { 
	height: 20px; 
	width: 20px; 
	background-color: #8F736E;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 50%; 
	background-repeat: repeat-x;
} 

.cercle5{
	height: 20px; 
	width: 20px; 
	background-color:#F0883E;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 50%; 
	background-repeat: repeat-x;
}

.cercle6{
	height: 20px; 
	width: 20px; 
	background-color:#86AAC4;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 50%; 
	background-repeat: repeat-x;
}

/* 2eme Partie */

/* Image fond rayon librairie */
.image-rayon{
	position: relative;
}

.image-rayon img{
	width: 1899px;  
	height: auto;
	opacity: 0.70;
}

h3{
	position: absolute;
	font-size: 90px;
	font-family:'Lato', sans-serif;
	font-style: italic;
	color: black;
	top: 50px;
	left: auto;
}

/* Block Illustation + Texte */
.illustration{
	margin-top:40px;
	padding-left: 325px;
	right: 100px;
	width:800px;
	height: auto;

}
.block-texte{
	font-family:'Lato', sans-serif;
	font-size: 30px;
  	line-height: 1.2;
  	text-align: left;
  	right: auto;
  	top: 20px;
}

/* Séparation 3 */

.container.cercle{
	margin-top: 0px;
	margin-bottom: 50px;
}

.cercle7 { 
	height: 20px; 
	width: 20px; 
	background-color:#86AAC4;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 50%; 
	background-repeat: repeat-x;
} 
.cercle8{
	height: 20px; 
	width: 20px; 
	background-color:#8F736E;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 50%; 
	background-repeat: repeat-x;
}
.cercle9{
	height: 20px; 
	width: 20px; 
	background-color: #F0883E;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 50%; 
	background-repeat: repeat-x;
}

/* 3eme Partie : Les Activités */

.section h2{
	text-align: center;
	font-family:'Indie Flower', cursive;
	font-size: 60px;
	padding-bottom: 50px;
}

.block-rectangle{
	padding-bottom: 70px;
}

.block-rectangle .jeux{
	padding-left: 50px;
}

.block-rectangle1{
	padding-bottom: 70px;
}

.block-rectangle1 .dedicace{
	padding-left: 50px;
}

 /*Footer*/

 footer{
 	background-image: url('image/bouge-pas/image-footer.jpg');
 	background-size: cover;
 	position: relative;
 	padding: 20px 30px 10px 20px;
}

/* Liens Footer */
 footer a{
 	font-family:'Lato', sans-serif;
 	color: black;
 	font-size: 23px;
}

/* Coordonnées */
 footer p{
 	font-family:'Lato', sans-serif;
 	font-size: 20px;
}


.copy p{
	padding-top: 30px;
	margin-left: 80px;
	font-size: 15px;
}

/* Réseaux Sociaux */
footer .icone-footer{
	text-align: right;
}

footer .icone-footer p{
	font-family:'Lato', sans-serif;
	font-size: 22px;
}

/* Renard footer */
.renard{
 	position: absolute;
 	top: -170px;
 	right: 1%;
}

/* Autre */
footer img{
	margin-right: 10px;
	margin-left: 10px;
}

footer .image{
	margin-top: 80px;
}


/* écran de 0 à 320px */
@media screen and (max-width: 320px) {
	html {
		width: 100%;
	}


}
/* 321 à 768px */
@media screen and (min-width: 321px) and (max-width: 768px) {
	html {
		width: 100%;
	}

	/* Header */
	header h1{
		font-size: 20px;
	}

	header{
		height: 50vh;
		width: 100%;
	}

	nav{
		display: none;
	}

	/* 1er Partie */
	.titre h2{
		font-size: 35px;
	}

	#hibou .hibou {
		display: none;
	}

	.container.equipe{
		margin-left: 0px;
		margin-right: 0px;
		text-align: center;
	}

	.ecureuil {
		display: none
	}

	.hibou #hibou{
		display: none;
	}

	/* 2eme Partie */
	.image-rayon h3{
		font-size: 40px;
	}

	.illustration{
		padding-left: 0px;
		left: 15px;
	}

	.illustration img{
		height: 200px;
		width: 400px;
	}

	.block-texte{
		left: 5px;
		font-size: 20px
	}

	/* 3eme Partie */
	.section h2{
		font-size: 40px;
	}

	.block-rectangle{
		padding-bottom: 10px;
	}

	.block-rectangle .jeux{
		text-align: center;
		padding-left: 15px;
		padding-top: 20px;
	}

	.block-rectangle1{
		padding-top: 10px;
	}

	.block-rectangle1 .dedicace{
		text-align: center;
		padding-left: 15px;
		padding-top: 20px;
	}

	/* Footer */
	footer{
		margin-top: 170px;
		flex-direction: column-reverse;
	}

	.renard{
		right: 23%;
	}

	footer .lien-footer li{
 	text-align: center;
 	}

 	footer .image{
 		text-align: center;
 		margin-bottom: 60px;

 	}
 	footer .image img{
 		height: 25px;
 		width: 25px;
 	}

 	footer .image p{
 		font-size: 16px;

 	}

	.copy{
		display: none;
	}

}

@media (min-width: 769px){

	/* Menu mobile */
	.dropdown{
		display: none!important;
	}
}
